<%# bid_row
  - catalog_bidding
  - hidden
%>
<% hidden ||= false %>
<tr <%=raw 'style="display: none"' if hidden %> id="catalog_bidding_<%= catalog_bidding.id %>">
  <td>
    <%= catalog_bidding.user.email %>
  </td>
  <td>
    <%= catalog_bidding.offered_price %>
  </td>
  <td>
    <%= catalog_bidding.offered_at %>
  </td>
</tr>
