<p id="notice"><%= notice %></p>

<p>
  <strong>Catalog:</strong>
  <%= @catalog_auction.catalog.title %>
</p>

<p>
  <strong>Initial price:</strong>
  <%= @catalog_auction.initial_price %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @catalog_auction.is_active %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @catalog_auction.expires_at.to_s :my_time %>
</p>
<% if @catalog_auction.expires_at > Time.now %>
  <div class="your-clock"></div>
  <div id="new_bid">
    <% if current_user %>
      <%= current_user.email %>
      <%= form_for CatalogBidding.new( catalog_auction: @catalog_auction), remote: true do |f| %>
        <%= f.hidden_field :catalog_auction_id %>
        <%= f.text_field :offered_price %>
        <%= f.submit "Bid" %>
      <% end %>
    <% else %>
        <%= link_to "Sign in", sign_in_path %>
        or
        <%= link_to "Sign up", sign_up_path %>
        to place a bid
    <% end %>
  </div>
<% else %>
  Auction expired.
<% end %>
<%= link_to "Refresh", "#", id: "refresh" %>
<div class="qa-message-list" id="wallmessages">
  <% @catalog_auction.catalog_biddings.each do |cb| %>
    <%= render partial: "bid_row", locals: { catalog_bidding: cb } %>
  <% end %>
</div>

<!-- Instantiate PubNub -->
<script type="text/javascript">

    // Subscribe to the demo_tutorial channel
    PUBNUB_demo.subscribe({
        channel: 'catalog_auction_<%= @catalog_auction.id %>',
        message: add_bid,
        connect: pub,
    });
    
    function add_bid(m) {
      var $new = $('#wallmessages').prepend(m);
      $('#wallmessages').children().first().show('slow');
      console.log("add_bid "+m);
    }
    function pub() {
       console.log("Since we’re publishing on subscribe connectEvent, we’re sure we’ll receive the following publish.");
       PUBNUB_demo.publish({                                    
            channel : "catalog_auction_<%= @catalog_auction.id %>",
            message : "Hello from PubNub Docs!",
            callback: function(m){ console.log("connect_publish_callbak "+m) }
       })
    }
</script>
<script>
<%# http://flipclockjs.com/ %>
var clock = $('.your-clock').FlipClock(
  <%= (@catalog_auction.expires_at - Time.now).to_i %>,
  {
   countdown: true,
    callbacks: {
      stop: function() {
      $('#new_bid').html('Auction expired!');
      }
    }
  });
</script>

<script>
$('#refresh').click(function(e) {
    e.preventDefault();
    $.ajax({
      url: "<%= get_new_catalog_biddings_path %>",
      dataType: "script",
      data: {
          last_bid: $('[data-bid]').first().data('bid'),
          catalog_auction: <%= @catalog_auction.id %>,
        },
      });
});

setInterval(function(){ 
    $('#refresh').click(); 
    console.log("refresh");
    }, 3000);
 
</script>

