<p id="notice"><%= notice %></p>

<p>
  <strong>Catalog:</strong>
  <%= @catalog_auction.catalog.title %>
</p>

<p>
  <strong>Initial price:</strong>
  <%= @catalog_auction.initial_price %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @catalog_auction.is_active %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @catalog_auction.expires_at %>
</p>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Offered price</th>
      <th>Offered at</th>
    </tr>
  </thead>
  <tbody>
    <% @catalog_auction.catalog_biddings.each do |cb| %>
      <%= render partial: "bid_row", locals: { catalog_bidding: cb } %>
    <% end %>
  </tbody>
</table>


<%= form_for @catalog_auction.catalog_biddings.new, remote: true do |f| %>
  <%= f.hidden_field :catalog_auction_id %>
  <%= f.text_field :offered_price %>
  <%= f.submit "Bid" %>
<% end %>
