<p id="notice"><%= notice %></p>

<p>
  <strong>Catalog:</strong>
  <%= @catalog_auction.catalog.title %>
</p>

<p>
  <strong>Initial price:</strong>
  <%= @catalog_auction.initial_price %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @catalog_auction.is_active %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @catalog_auction.expires_at.to_s :my_time %>
  <abbr class="timeago" title="<%= @catalog_auction.expires_at.to_time.iso8601 %>"><%= @catalog_auction.expires_at.to_s :my_time %><abbr>
</p>
<div class="new_bid">
<% if current_user %>
  <%= current_user.email %>
  <%= form_for CatalogBidding.new( catalog_auction: @catalog_auction), remote: true do |f| %>
    <%= f.hidden_field :catalog_auction_id %>
    <%= f.text_field :offered_price %>
    <%= f.submit "Bid" %>
  <% end %>
<% else %>
    <%= link_to "Sign in", sign_in_path %>
    or
    <%= link_to "Sign up", sign_up_path %>
    to place a bid
<% end %>
<div class="qa-message-list" id="wallmessages">
  <% @catalog_auction.catalog_biddings.each do |cb| %>
    <%= render partial: "bid_row", locals: { catalog_bidding: cb } %>
  <% end %>
</div>

<!-- Instantiate PubNub -->
<script type="text/javascript">

    // Subscribe to the demo_tutorial channel
    PUBNUB_demo.subscribe({
        channel: 'catalog_auction_<%= @catalog_auction.id %>',
        message: add_bid,
    });
    
    function add_bid(m) {
      var $new = $('#wallmessages').prepend(m);
      $('#wallmessages').children().first().show('slow');
      console.log(m);
    }
</script>



